fastapi
uvicorn[standard]
python-multipart

pytesseract
Pillow
pdfplumber
pdf2image
opencv-python

spacy

rapidfuzz
regex

pandas
numpy
pydantic

python-dateutil

pytest
pytest-asyncio
httpx

python-dotenv
loguru